<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="ru.bluecat.android.xposed.mods.appsettings">

    <permission-tree android:name="ru.bluecat.android.xposed.mods.appsettings" />

    <permission
        android:name="ru.bluecat.android.xposed.mods.appsettings.BROADCAST_PERMISSION"
        android:protectionLevel="signature">
    </permission>

    <uses-permission android:name="ru.bluecat.android.xposed.mods.appsettings.BROADCAST_PERMISSION" />
    <uses-permission android:name="android.permission.GET_TASKS" />
    <uses-permission android:name="android.permission.QUERY_ALL_PACKAGES" tools:ignore="QueryAllPackagesPermission" />

    <application
        android:theme="@style/Theme.Main.Dark"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:allowBackup="false">
        <activity
            android:name=".ui.MainActivity"
            android:configChanges="orientation|screenSize">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ui.ApplicationsActivity"
            android:label="@string/settings_title"
            android:configChanges="orientation|screenSize"
            android:windowSoftInputMode="stateHidden" >
        </activity>
        <activity
            android:name=".ui.BackupActivity"
            android:configChanges="orientation|screenSize"
            android:theme="@style/Theme.AppCompat.Translucent"
            android:windowSoftInputMode="stateHidden" >
        </activity>

        <meta-data
            android:name="xposedmodule"
            android:value="true" />
        <meta-data
            android:name="xposedsharedprefs"
            android:value="true" />
        <meta-data
            android:name="xposedminversion"
            android:value="89" />
        <meta-data
            android:name="xposeddescription"
            android:value="@string/app_module_summary" />
        <meta-data
            android:name="xposedscope"
            android:resource="@array/module_scope" />
    </application>
</manifest>